.body {
  font-family: "Raleway", sans-serif;
}
.hero {
  background: url("https://images.unsplash.com/photo-1472715148636-92e348325950?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60");
  height: 100vh;
  background-size: cover;
}

.btn-white {
  background: white;
  color: #276fbf;
}

.btn-white:hover {
  border: 2px solid;
  color: white;
  background: transparent;
}

.nav-blue {
  background: #276fbf;
}

.nav-link,
.text-white,
.nav-toggler {
  color: white;
}
/* ABOUT PAGE*/

.about-header,
.services-header {
  background: skyblue; /*#dbe9ee;*/
}

.about-start {
  height: 200px;
  background: url("https://images.unsplash.com/photo-1566105734084-e1c0e8cfb31d?ixlib=rb-1.2.1&auto=format&fit=crop&w=1567&q=80");
}

img.abouticon {
  width: 20%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 15px;
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);

  opacity: 0.5;
}
.about-team {
  background: skyblue; /*#e1edf1;*/
}

.about-clients {
  height: 40vh;
  background: #276fbf;
}

.text-blue {
  color: #276fbf;
}

/* services page */

h3 {
  color: black;
}
.text {
  color: black;
  text-align: center;
}

.folded-corner:hover .text {
  visibility: visible;
  color: skyblue;
}
.Services-tab {
  margin-top: 20px;
}

/*
  nav link items
*/
.folded-corner {
  padding: 25px 25px;
  position: relative;
  font-size: 90%;
  text-decoration: none;
  color: #999;
  background: transparent;
  transition: all ease 0.5s;
  border: 1px solid skyblue;
}
.folded-corner:hover {
  background-color: transparent;
  box-shadow: #eee;
}

/*
  paper fold corner
*/

.folded-corner:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  border-style: solid;
  border-width: 0 0px 0px 0;
  border-color: #ddd skyblue;
  transition: all ease 0.3s;
}

/*
  on li hover make paper fold larger
*/
.folded-corner:hover:before {
  background-color: #d00003;
  border-width: 0 50px 50px 0;
  border-color: #eee skyblue;
}

.service_tab_1 {
  background-color: skyblue;
}
.service_tab_1:hover .fa-icon-image {
  color: skyblue;
  transform: rotate(360deg) scale(1.5);
}

.fa-icon-image {
  color: black;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  font-size: 3rem;
  font-size-adjust: none;
  font-stretch: normal;
  -moz-font-feature-settings: normal;
  -moz-font-language-override: normal;
  text-rendering: auto;
  transition: all 0.65s linear 0s;
  text-align: center;
  transition: all 1s cubic-bezier(0.99, 0.82, 0.11, 1.41);
}
