body {
  font-family: "Raleway", sans-serif;
  line-height: 2;
}

a,
a:hover {
  color: black;
  text-decoration: none;
}

p,
.btn,
a {
  font-family: "Raleway", sans-serif;
  line-height: 2;
  font-weight: 500;
}

.hero {
  height: 100vh;
}
.hero img {
}
.hero-text {
  line-height: 4rem;
  font-size: 2rem;
}
.index-services {
  background: #276fbf;
  height: 70vh;
  color: white;
}
.index-services h3 {
  font-size: 1.7rem;
}
.index-services img {
  height: 350px;
  width: auto;
  padding: 60px;
}
.index-services-text {
  width: 50vw;
}
.feature_item {
}
.feature_item a {
  color: #276fbf;
}

.index-about {
  background: #dcebf9;
  color: #276fbf;
  height: 900pxvh;
}
.bulb {
  width: 800px;
  height: auto;
  margin-right: -170px;
}
.blob {
  position: absolute;
  top: -150px;
  left: -150px;
  z-index: -1;
  width: 500px;
  transform: rotate(-120deg);
  opacity: 0.8;
}
footer {
  bottom: 0;
  font-size: 0.8rem;
  background: #276fbf;
  color: white;
}

li {
  list-style-type: none;
}
.btn-white {
  background: white;
  color: #276fbf;
  width: 200px;
  height: 50px;
}
.btn-blue {
  background: #276fbf;
  color: white;
  width: 200px;
  height: 50px;
}

.btn-white:hover {
  border: 2px solid #276fbf;
  color: #276fbf;
  background: transparent;
}
.btn-blue:hover {
  border: 2px solid;
  color: #276fbf;
  background: transparent;
}

.nav-blue {
  background: #276fbf;
}

.nav-link,
.text-white,
.nav-toggler,
.footer {
  color: white;
}
.nav-item {
  font-weight: bold;
}
.nav-link:hover {
  border-bottom: 1px solid;
}
.slim-text {
  width: 50vw;
}

/* ABOUT PAGE*/

.about-header,
.services-header {
  background: #dcebf9; /*#dbe9ee;*/
  color: #276fbf;
}
.avatar {
  width: 300px;
  height: auto;
}

.about-start {
  height: 200px;
  background: url("https: ; //images.unsplash.com/photo-1566105734084-e1c0e8cfb31d?ixlib=rb-1.2.1&auto=format&fit=crop&w=1567&q=80");
}
.abouticon {
  font-size: 4rem;
  color: #276fbf;
}
img.abouticon {
  width: 100px;
}
.card {
  border: none;
  transition: all 1s ease-in;
}
.about-team {
  background: #dcebf9; /*#e1edf1;*/
  color: #276fbf;
}
.about-team img {
  width: 500px;
  height: auto;
}
.about-clients {
  height: 60vh;
}
.text-blue {
  color: #276fbf;
}
.client-icon {
  height: 60px;
}
/* services page */
.carousel-control-prev-icon,
.carousel-control-next-icon {
  height: 100px;
  width: 100px;
  outline: white;
  background-size: 100%, 100%;
  border-radius: 50%;
  border: 1px solid white;
  background-image: none;
}
.carousel-control-next-icon:after {
  content: ">";
  font-size: 55px;
  color: #276fbf;
}
.carousel-control-prev-icon:after {
  content: "<";
  font-size: 55px;
  color: #276fbf;
}
.carousel-inner > .item > img {
  min-height: 300px;
  max-height: 300px;
  width: 100%;
}
.service-carousel {
  height: 45vh;
  min-height: 350px;
  background: no-repeat center center scroll;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
  opacity: 0.5;
}
.bigdredger {
  background-image: url("../images/images/bigdredger.jpg");
}
.bwconstruct {
  background-image: url("../images/images/breakwaterconstr.jpg");
}
.bwswamp {
  background-image: url("../images/images/swampexcavator.jpg");
}
.splithopper {
  background-image: url("../images/images/splithopperbarge.jpg");
}
.pipelayer {
  background-image: url("../images/images/pipelayer.jpg");
}
.plbarge {
  background-image: url("../images/images/pipelayerbarge.jpg");
}
.liftcrane {
  background-image: url("../images/images/heavyliftcrane.jpg");
}

.jackupbarge {
  background-image: url("../images/images/jackupbarge.jpg");
}
h3 {
  color: black;
}
.text {
  color: black;
  text-align: center;
}
.folded-corner:hover .text {
  visibility: visible;
  color: #276fbf;
}
.Services-tab {
  margin-top: 20px;
}
/*
  nav link items
*/
.folded-corner {
  padding: 25px 25px;
  position: relative;
  font-size: 90%;
  text-decoration: none;
  color: #999;
  background: transparent;
  transition: all ease 0.5s;
  border: 1px solid #dcebf9;
}
.folded-corner:hover {
  background-color: transparent;
  box-shadow: #eee;
}
/*
  paper fold corner
*/
.folded-corner:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  border-style: solid;
  border-width: 0 0px 0px 0;
  border-color: #ddd #dcebf9;
  transition: all ease 0.3s;
}

/*
  on li hover make paper fold larger
*/
.folded-corner:hover:before {
  background-color: #d00003;
  border-width: 0 50px 50px 0;
  border-color: #eee #dcebf9;
}
.service_tab_1 {
  background-color: #dcebf9;
}
.service_tab_1:hover .fa-icon-image {
  color: #276fbf;
  transform: rotate(360deg) scale(1.5);
}
.fa-icon-image {
  color: black;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  font-size: 3rem;
  font-size-adjust: none;
  font-stretch: normal;
  -moz-font-feature-settings: normal;
  -moz-font-language-override: normal;
  text-rendering: auto;
  transition: all 0.65s linear 0s;
  text-align: center;
  transition: all 1s cubic-bezier(0.99, 0.82, 0.11, 1.41);
}
/* contact page */
.contact-icon {
  font-size: 2rem;
}
